html {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.intro, .design {
  background-image: url("../images/the-flatiorn-building.png");
}

.intro, .design, #copyright {
    color: white;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

a {
  font-size: 18px;
}

p {
  font-size: 14px;
}

#copyright {
  font-size: 11px;
  background-color: dimgray;
}

h1, h2, h3 {
  font-weight: bold;
}
